{% extends 'administracion/base.html' %}
{% load guardian_tags %}

{% block contentbase %}

    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

		<ul class="nav menu">
			<li class="active"><a href="#" data-toggle="dropdown"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a>
                <ul class="dropdown-menu" role="menu">
					<li><a style="background: white; color: black;" href='/dashboard/backlog'><svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg> Product Backlog</a></li>
					<li class="active"><a href='/dashboard/sprints'><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"/></svg> Sprints </a></li>
				</ul>
			</li>
			<li><a href="{% url 'project_list' %}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Proyectos</a></li>
            <li><a href="{% url 'user_list' %}"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg> Usuarios</a></li>
            <li><a href="{% url 'rol_list' %}"><svg class="glyph stroked key "><use xlink:href="#stroked-key"/></svg> Roles</a></li>

        </ul>
    </div>

    <div class="col-lg-12">
		<h1 class="page-header">Dashboard - Sprints </h1>
	</div>

    
    {% for p in proyecto %}
        {% get_obj_perms user for p as "proyecto_perms" %}
        {% if "ver_proyecto" in proyecto_perms %}
            <div class="col-lg-12">
	            <h2 style="text-align: center; font-size: 40px; margin-bottom: 50px;margin-top: 50px;">{{ p.nombre|title }}</h2>
	        </div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-blue panel-widget ">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"/></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">{{ p.tot_sprints }}</div>
							<div class="text-muted">Sprints</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-orange panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked checkmark"><use xlink:href="#stroked-checkmark"/></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">{{ p.sprints_completados }}</div>
							<div class="text-muted">Completados</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-red panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"/></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">{{ p.sprints_faltantes }}</div>
							<div class="text-muted">Pendientes</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-teal panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">{{ p.progreso_sprints }}%</div>
							<div class="text-muted">Progreso</div>
						</div>
					</div>
				</div>
			</div>

			{% for s in p.sprints %}

				<div class="col-lg-12">
					<div class="panel panel-blue panel-widget ">
						<div class="row no-padding">
							<a href="{% url 'sprint_detail'  s.id %}">
							<div class="col-sm-3 col-lg-2 widget-left" style="background: #687b7b;">
								<div class="large" style="font-size: 17px; padding-top: 10px;">{{ s.nombre|title }}</div>
							</div>
							</a>
							<div class="col-sm-9 col-lg-2 widget-right">
								<div style="color: black; padding-top: 5px; font-size: 17px;">Estado: {{ s.estado|title }}</div>
							</div>
							<div class="col-sm-9 col-lg-3 widget-right">
								<div style="color: black; padding-top: 5px; font-size: 17px;">Horas registradas: {{ s.horasRegistradaSprint|title }}</div>
							</div>
							<div class="col-sm-9 col-lg-3 widget-right">
								<div style="color: black; padding-top: 5px; font-size: 17px;">Progreso: {{ s.us_sprint|title }}%</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

        {% endif %}
    {% endfor %}

{% endblock %}