{% load static %}
<!DOCTYPE html>
<html lang="en">

    <link href="{%static 'lumino/css/bootstrap.min.css'  %}" rel="stylesheet">
    <link href="{%static 'lumino/css/datepicker3.css' %}" rel="stylesheet">
    <link href="{%static 'lumino/css/styles.css' %}" rel="stylesheet">

    <!--Icons-->
    <script src="{%static 'lumino/js/lumino.glyphs.js' %}"></script>

    <script src="{% static 'lumino/js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'lumino/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'lumino/js/bootstrap-datepicker.js' %}"></script>
	<script>
		$('#calendar').datepicker({
		});

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){
		        $(this).find('em:first').toggleClass("glyphicon-minus");
		    });
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>

    <body>
    {% block content %}
    {% endblock %}
    </body>


</html>

