{% extends "administracion/base.html" %}
{% load bootstrap3 %}
{% load guardian_tags %}

{% block contentbase %}


    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

		<ul class="nav menu">
        <li><a href="#" data-toggle="dropdown"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a>
                <ul class="dropdown-menu" role="menu">
					<li><a href='/dashboard/backlog'><svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg> Product Backlog</a></li>
					<li><a href='/dashboard/sprints'><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"/></svg> Sprints </a></li>
				</ul>
			</li>
			<li class="active"><a href="{% url 'project_list' %}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Proyectos</a></li>
            <li><a href="{% url 'user_list' %}"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg> Usuarios</a></li>
            <li><a href="{% url 'rol_list' %}"><svg class="glyph stroked key "><use xlink:href="#stroked-key"/></svg> Roles</a></li>

        </ul>
    </div>
        <div class="row">
   <ol class="breadcrumb">
      <li><a href="{% url "index" %}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
      <li><a href="{%url "project_list" %}">Lista de Proyectos</a></li>
       <li><a href="">User Stories Detail</a></li>
       <li class="active">Registrar Avances</li>
   </ol>
</div>
     <div class="page-header"><h1>Registrar actividad en User Story</h1></div>

        <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li class="active"><a href="{% url 'project_list' %}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Proyectos</a></li>
            <li><a href="{% url 'user_list' %}"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg> Usuarios</a></li>
            <li><a href="{% url 'rol_list' %}"><svg class="glyph stroked key "><use xlink:href="#stroked-key"/></svg> Roles</a></li>

        </ul>
    </div>

<div class="row">
    <div class="col-lg-6">
        <div class="well">
            <p><strong>Proyecto Asociado:</strong> {{ userstory.proyecto }}</p>
            <p><strong>Nombre: </strong>{{ userstory.nombre_largo }}</p>
            <p><strong>Prioridad: </strong>{{ userstory.prioridad }}</p>
                    <p><strong>Valor de negocio: </strong>{{ userstory.valor_negocio }}</p>
                    <p><strong>Valor Técnico: </strong>{{ userstory.valor_tecnico }}</p>
                    <p><strong>Último cambio: </strong>{{ userstory.ultimo_cambio }}</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <span class="fa fa-bars"> Estado Actual</span>
                        </div>
                        <div class="panel-body">
                            <p><strong>Sprint: </strong>{{ userstory.sprint }}</p>
                            <p><strong>Desarrollador: </strong>{{ userstory.desarrollador }}</p>
                            <p><strong>Flujo: </strong>{{ userstory.actividad.flujo }} | <strong>Actividad: </strong>{{ userstory.actividad }} | <strong>Estado actual: </strong>{{ userstory.get_estado_actividad_display }}</p>
                            <p><strong>Tiempo Estimado (horas): </strong>{{ userstory.tiempo_estimado }}</p>
                            <p><strong>Tiempo registrado (horas): </strong>{{ userstory.tiempo_registrado }}</p>
                        </div>
                    </div>
                </div>
            </div>
</div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            {{ formset.non_form_errors }}
            <div class="col-lg-12">
                {% for f in formset.forms %}{% bootstrap_form f %}{% endfor %}
            </div>
            {{ formset.management_form }}
        </div>
        <div class="row">
            <div class="col-lg-4">{% bootstrap_field form.horas_a_registrar layout='horizontal' %}</div>
            {% if form.actividad %}
                <div class="col-lg-4">{% bootstrap_field form.actividad layout='horizontal' %}</div>
            {% endif %}
            <div class="col-lg-4">{% bootstrap_field form.estado_actividad layout='horizontal' %}</div>

        </div>
        <div class="row">
        {% buttons submit='Guardar' reset="Reset" %}
            <a href="javascript:history.back()">
                <button type="button" class="btn btn-danger">Cancelar</button>
            </a>
        {% endbuttons %}
        </div>
    </form>

{% endblock %}


