{% extends 'administracion/base.html' %}
{% load guardian_tags %}
{% load bootstrap3 %}
{% block contentbase %}


    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

		<ul class="nav menu">
        <li><a href="#" data-toggle="dropdown"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a>
                <ul class="dropdown-menu" role="menu">
					<li><a href='/dashboard/backlog'><svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg> Product Backlog</a></li>
					<li><a href='/dashboard/sprints'><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"/></svg> Sprints </a></li>
				</ul>
			</li>
			<li class="active"><a href="{% url 'project_list' %}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Proyectos</a></li>
            <li><a href="{% url 'user_list' %}"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg> Usuarios</a></li>
            <li><a href="{% url 'rol_list' %}"><svg class="glyph stroked key "><use xlink:href="#stroked-key"/></svg> Roles</a></li>

        </ul>
    </div>

    <div class="row" xmlns="http://www.w3.org/1999/html">
			<ol class="breadcrumb">
				<li><a href="{% url "index" %}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li><a href="{% url "project_list" %}">Lista de Proyectos</a></li>
                <li><a href="">Detalles de Proyectos</a></li>
                <li><a href="">Product Backlog</a></li>
                <li>Detalles de {{ userstory.nombre_corto }}</li>
			</ol>
		</div><!--/.row-->

<div class="page-header"><h1>{{ userstory.nombre_largo | title}}</h1></div>
    <ul class="list-inline" xmlns="http://www.w3.org/1999/html">
        {% get_obj_perms user for userstory.proyecto as "proyecto_perms" %}
        {% get_obj_perms user for userstory as "us_perms" %}
        {% if "editar_userstory" in proyecto_perms or 'editar_mi_userstory' in us_perms%}<li><a href="{% url 'userstory_update'  userstory.id %}" class="fa fa-pencil"> Editar</a></li>{% endif %}
        {% if userstory.estado == 1 and userstory.sprint.estado == 'EJ' %}{# Si el User Story está en curso #}
            {% if "registraractividad_userstory" in proyecto_perms or 'registraractividad_mi_userstory' in us_perms %}
                <li><a href="{% url 'userstory_registraractividad'  userstory.id %}" class="fa fa-pencil-square-o"> Registrar Avance</a></li>
            {% endif %}
        {% endif %}
        

        {%  if userstory.estado != 4 and userstory.estado != 3 %}
        {% if "cancelar_userstory" in proyecto_perms %}<li><a href="{% url 'userstory_cancelar' userstory.id %}" class="fa fa-times"> Cancelar</a></li> {% endif %}
        {% endif %}
    </ul>
    <p><strong>Proyecto Asociado:</strong> {{ userstory.proyecto }}</p>
    <div class="row">
        <div class="col-lg-6">
            <div class="well">
                <p><strong>Nombre corto: </strong>{{ userstory.nombre_corto }}</p>
                <p><strong>Nombre largo: </strong>{{ userstory.nombre_largo }}</p>
                <p><strong>Estado del User Story: </strong>{{ userstory.get_estado_actividad_display }}</p>
                <p><strong>Prioridad: </strong>{{ userstory.get_prioridad_display }}</p>
                <p><strong>Prioridad por Formula: </strong>{{ userstory.prioridadFormula }}</p>
                <p><strong>Valor de negocio: </strong>{{ userstory.valor_negocio }}</p>
                <p><strong>Valor Técnico: </strong>{{ userstory.valor_tecnico }}</p>
                <p><strong>Último cambio: </strong>{{ userstory.ultimo_cambio }}</p>
                {% if userstory.desarrollador %}<p><strong>Asignado a: </strong><a href="{% url 'user_detail' userstory.desarrollador.id %}">{{ userstory.desarrollador }}</a>{% endif %}
                {% if userstory.actividad %}<p><strong>Flujo: </strong><a href="{% url 'flujo_detail' userstory.actividad.flujo.id %}"> {{ userstory.actividad.flujo }} </a>| <strong>Actividad: </strong>{{ userstory.actividad }} | <strong>Estado: </strong>{{ userstory.get_estado_actividad_display }} {% endif %}
                {% if userstory.sprint %}<p><strong>Último Sprint: </strong><a href="{% url 'sprint_detail' userstory.sprint.id %}">{{ userstory.sprint }} </a>{% endif %}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="well well-sm">
                    <h4>Descripción</h4>
                    <p>{{ userstory.descripcion }}</p>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="fa fa-clock-o"> Tiempos</span>
                    </div>
                    <div class="panel-body">
                        <p><strong>Tiempo Estimado (horas): </strong>{{ userstory.tiempo_estimado }}</p>
                        <p><strong>Tiempo registrado (horas): </strong>{{ userstory.tiempo_registrado }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p><a class="fa fa-step-backward" href="{% url 'product_backlog' userstory.proyecto.id %}"> Volver a User Stories</a></p>
    <p><a class="fa fa-file" href="{% url 'project_detail' userstory.proyecto.id %}"> Volver al Proyecto {{ userstory.proyecto.nombre }}</a></p>
{% endblock %}
