{% extends 'administracion/base.html' %}
{% load staticfiles %}
{% load guardian_tags %}
{% block contentbase %}

    <div class="row" xmlns="http://www.w3.org/1999/html">
			<ol class="breadcrumb">
				<li><a href="{% url "index" %}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li><a href="{% url "project_list"  %}">Lista de Proyectos</li></a>
				<li><a href="{% url "project_detail" view.project.pk %}">Detalles de Proyecto</li></a>
                <li>Product Backlog</li>

			</ol>
		</div>


    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

		<ul class="nav menu">
        <li><a href="#" data-toggle="dropdown"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a>
                <ul class="dropdown-menu" role="menu">
					<li><a href='/dashboard/backlog'><svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg> Product Backlog</a></li>
					<li><a href='/dashboard/sprints'><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"/></svg> Sprints </a></li>
				</ul>
			</li>
			<li class="active"><a href="{% url 'project_list' %}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Proyectos</a></li>
            <li><a href="{% url 'user_list' %}"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg> Usuarios</a></li>
            <li><a href="{% url 'rol_list' %}"><svg class="glyph stroked key "><use xlink:href="#stroked-key"/></svg> Roles</a></li>

        </ul>
    </div>

    <div class="page-header"><h1>Product Backlog</h1></div>

    <h2><strong>Proyecto: </strong><td>{{ view.project }}</td></h2>

    {% if "crear_userstory" in proyecto_perms %}
<div class="col-xs-12">
    <a href="{% url 'userstory_add' view.project.pk %}"> 
    <div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-blue panel-widget ">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"/></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">Crear</div>
							<div class="text-muted">User Story</div>
						</div>
					</div>
				</div>
			</div>
    </a>
    </div>
    {% endif %}

    <h3>User Stories</h3>
    <!-- Buscador -->


    <div id="userstoriespanels">
    {% for us in userstories %}
        {% get_obj_perms user for us as "us_perms" %}
        {% ifnotequal us.estado 4 %}
       <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title"> <a href="{% url 'userstory_detail' us.id %}" >{{ us.nombre_largo }}</a></div>
                    </div>
                    <div class="panel-body">
                        <strong>Estado actual: </strong>{{ us.get_estado_actividad_display }}<br/>
                        <strong>Prioridad: </strong>{{ us.get_prioridad_display }}<br/>
                        <strong>Prioridad por Formula: </strong>{{ us.prioridadFormula }}<br/>
                        <strong>Desarrollador: </strong>
                        {% if us.desarrollador %}
                            <a href="{% url 'user_detail' us.desarrollador_id %}">{{ us.desarrollador }}</a><br/>
                        {% else %}
                            Ninguno
                        {% endif %}
                        {% if us.sprint %}
                            <strong>Sprint: </strong><a href="{% url 'sprint_detail' us.sprint.id %}">{{ us.sprint }}</a><br/>
                        {% endif %}

                        {% if us.actividad %}
                            <strong>Flujo: </strong><a href="{% url 'flujo_detail' us.actividad.flujo_id %}">{{ us.actividad.flujo }}</a><br/>
                            <strong>Actividad: </strong>{{ us.actividad }} <br/>
                        {% endif %}

                    </div>
                    <div class="panel-footer">

                        <a href="{% url 'userstory_detail' us.id %}"><i class="glyphicon glyphicon-eye-open" style="color: #0e84b5"></i></a>
                        {% if "editar_userstory" in proyecto_perms %}<a href="{% url 'userstory_update' us.id %}"><i
                                class="glyphicon glyphicon-pencil"></i></a>{% endif %}
                        {% if us.estado != 4  and us.estado != 3%}
                        {% if "cancelar_userstory" in proyecto_perms %}<a href="{% url 'userstory_cancelar' us.id %}"><i class="glyphicon glyphicon-remove"></i></a> {% endif %}
                        {% endif %}
                    </div>
                </div>
        </div>
    {% endifnotequal %}
    {% endfor %}
    </div>

    <div class="col-lg-12">
    <p><a class="fa fa-file" href="{% url 'project_detail' view.project.id %}"> Volver al Proyecto {{ view.project.nombre}}</a></p>
    </div>


        <script type="text/javascript">
        $(document).ready(function () {
            $("#filtro").keyup(function () {
                var filtro = $(this).val();
                $("#userstoriespanels").children("div").each(function () {
                    if ($(this).text().search(new RegExp(filtro, "i")) < 0) {
                        $(this).fadeOut();
                    } else {
                        $(this).fadeIn();
                    }
                });
            });
        });
    </script>
{% endblock %}
