{% extends 'administracion/base.html' %}
{% load staticfiles %}

{% block contentbase %}




        <div class="row" xmlns="http://www.w3.org/1999/html">
			<ol class="breadcrumb">
				<li><a href="{% url "index" %}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li><a href="{% url "project_list"  %}">Lista de Proyectos</li></a>
				<li><a href="{% url "project_detail" view.project.pk %}">Detalles de Proyecto</li></a>
                <li>Sprint</li>

			</ol>
		</div><!--/.row-->

<h1><strong>Proyecto: </strong><td>{{ view.project }}</td></h1>
 {% if "crear_sprint" in proyecto_perms %}

<a href="{% url 'sprint_add' view.kwargs.project_pk %}"> <div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-blue panel-widget ">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"/></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">Crear</div>
							<div class="text-muted">Sprint</div>
						</div>
					</div>
				</div>
			</div>
</a>
   {% endif %}






    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

		<ul class="nav menu">
        <li><a href="#" data-toggle="dropdown"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a>
                <ul class="dropdown-menu" role="menu">
					<li><a href='/dashboard/backlog'><svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg> Product Backlog</a></li>
					<li><a href='/dashboard/sprints'><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"/></svg> Sprints </a></li>
				</ul>
			</li>
			<li class="active"><a href="{% url 'project_list' %}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Proyectos</a></li>
            <li><a href="{% url 'user_list' %}"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg> Usuarios</a></li>
            <li><a href="{% url 'rol_list' %}"><svg class="glyph stroked key "><use xlink:href="#stroked-key"/></svg> Roles</a></li>

        </ul>
    </div>

        		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Lista de Sprint</div>
                         <div class="fixed-table-container"><div class="fixed-table-header"><table></table></div>
                             <div class="fixed-table-body"><div class="fixed-table-loading" style="top: 37px; display: none;">Loading, please wait…</div>
                                 <table data-toggle="table" data-url="tables/data1.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true"
                                        data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc" class="table table-hover">
                                <tr>
                                    <th>Nombre</th>
                                    <th>UserStories</th>
                                    <th>Ver</th>
                                  {% if "editar_sprint" in proyecto_perms %}
                                       <th>Editar Sprint</th>
                                       <th>Eliminar Sprint</th>
                                    {% endif %}

                                </tr>


    {% for s in sprint %}
     {% ifnotequal s.estado 'CA' %}
    <tr class="odd gradeX">
        <td>{{ s.nombre }}</td>
        <td>{{ s.userstory_set.count }}</td>
        {% if "ver_sprint" in proyecto_perms %}
            <td ><a href="{% url 'sprint_detail'  s.id %}"><button type="submit" class="btn btn-default btn-md">Ver</button> <i class="fa fa-eye fa-fw"></i></a> </td>
        {% endif %}
        {% if "editar_sprint" in proyecto_perms %}
            <td><a href="{% url 'sprint_update' s.id %}"><button type="submit" class="btn btn-warning btn-md">Editar</button> <i class="fa fa-eye fa-fw"></i></a> </td>
            <td><a href="{% url 'sprint_delete' s.id %}"><button type="submit" class="btn btn-danger btn-md">Eliminar</button> <i class="fa fa-eye fa-fw"></i></a> </td>

        {% endif %}


    </tr>
       {% endifnotequal %}
    {% endfor %}







                            </table>
                             </div><div class="fixed-table-pagination"><div class="pull-left pagination-detail">
                                 <span class="pagination-info">Showing 1 to 10 of 21 rows</span><span class="page-list"><span class="btn-group dropup">
                                 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="page-size">10</span>
                                     <span class="caret"></span></button><ul class="dropdown-menu" role="menu"><li class="active"><a href="javascript:void(0)">10</a></li>
                                 <li><a href="javascript:void(0)">25</a></li><li><a href="javascript:void(0)">50</a></li><li><a href="javascript:void(0)">100</a></li></ul></span> records per page</span></div>
                                 <div class="pull-right pagination"><ul class="pagination"><li class="page-first disabled"><a href="javascript:void(0)">&lt;&lt;</a></li><li class="page-pre disabled">
                                     <a href="javascript:void(0)">&lt;</a></li><li class="page-number active disabled"><a href="javascript:void(0)">1</a></li>
                                     <li class="page-number"><a href="javascript:void(0)">2</a></li><li class="page-number"><a href="javascript:void(0)">3</a></li>
                                     <li class="page-next"><a href="javascript:void(0)">&gt;</a></li><li class="page-last"><a href="javascript:void(0)">&gt;&gt;</a></li></ul></div></div></div></div>

				</div>
			</div>
		</div><!--/.row-->


{% endblock %}
























