{{% extends 'administracion/base.html' %}
{% load guardian_tags %}


{% block contentbase %}



           <div class="row" xmlns="http://www.w3.org/1999/html">
			<ol class="breadcrumb">
      <li><a href="{% url "index" %}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
      <li><a href="{%url "project_list" %}">Lista de Proyectos</a></li>
       <li><a href="">Detalles de Proyecto</li></a>
       <li><a href="">Lista de Sprint</a></li>
   </ol>
</div><!--/.row-->


        <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

		<ul class="nav menu">
        <li><a href="#" data-toggle="dropdown"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a>
                <ul class="dropdown-menu" role="menu">
					<li><a href='/dashboard/backlog'><svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg> Product Backlog</a></li>
					<li><a href='/dashboard/sprints'><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"/></svg> Sprints </a></li>
				</ul>
			</li>
			<li class="active"><a href="{% url 'project_list' %}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Proyectos</a></li>
            <li><a href="{% url 'user_list' %}"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg> Usuarios</a></li>
            <li><a href="{% url 'rol_list' %}"><svg class="glyph stroked key "><use xlink:href="#stroked-key"/></svg> Roles</a></li>

        </ul>
    </div>


    <div class="page-header"><h1>{{ sprint.nombre | title }} </h1></div>
    <ul class="list-inline">
        {% get_obj_perms user for sprint.proyecto as "proyecto_perms" %}
        {% if "editar_sprint" in proyecto_perms %}
            <li><a href="{% url 'sprint_update'  sprint.id %}" class="glyphicon glyphicon-pencil"> Editar</a></li>
        {% endif %}
     </ul>

    <p><strong>Nombre:</strong> {{ sprint.nombre }}</p>
    <p><strong>Estado:</strong> {{ sprint.estado }}</p>
    <p><strong>Duracion(Dias):</strong> {{ sprint.duracion_sprint }}</p>
    {% if sprint.horasDuracionSprint < sprint.horasRegistradaSprint %}
        <div class="alert alert-warning">Se ha superado la cantidad de horas del sprint</div>
    {% endif %}
    <p><strong>Tiempo Estimado :</strong> {{ sprint.horasDuracionSprint }} Horas - <strong>Tiempo Registrado:</strong> {{ sprint.horasRegistradaSprint }} Horas</p>
    <p><strong>Fecha Inicio:</strong>{{ sprint.fecha_inicio }} - <strong>Fecha fin:</strong>{{ sprint.fecha_fin }}</p>
    <p><strong>Proyecto Asociado:</strong> {{ sprint.proyecto }}</p>




    <h3>User Stories</h3>
    
    <div id="userstoriespanels">

        {% for us in userStory %}

            <div class="col-lg-3">
                <div class="panel panel-primary" >
                    <div class="panel-heading">
                        <div class="panel-title"> <a href="{% url 'userstory_detail' us.id %}" style="color:#ffffff;">{{ us.nombre_largo }}</a></div>
                    </div>
                    <div class="panel-body">
                        <strong>Estado actual: </strong>{{ us.get_estado_actividad_display }}<br/>
                        <strong>Tiempo estimado: </strong>{{ us.tiempo_estimado }}<br/>
                        <strong>Tiempo registrado: </strong>{{ us.tiempo_registrado }}<br/>
                        <strong>Prioridad: </strong>{{ us.get_prioridad_display }}<br/>
                        <strong>Prioridad por Formula: </strong>{{ us.prioridadFormula }}<br/>
                        <strong>Desarrollador: </strong>
                        {% if us.desarrollador %}
                            <a href="{% url 'user_detail' us.desarrollador_id %}">{{ us.desarrollador }}</a><br/>
                        {% else %}
                            Ninguno
                        {% endif %}
                        {% if us.sprint %}
                            <strong>Sprint: </strong><a href="{% url 'sprint_detail' us.sprint.id %}">{{ us.sprint }}</a><br/>
                        {% endif %}

                        {% if us.actividad %}
                            <strong>Flujo: </strong><a href="{% url 'flujo_detail' us.actividad.flujo_id %}">{{ us.actividad.flujo }}</a><br/>
                            <strong>Actividad: </strong>{{ us.actividad }} <br/>
                        {% endif %}

                    </div>
                    <div class="panel-footer">
                        <a href="{% url 'userstory_detail' us.id %}"><i class="glyphicon glyphicon-eye-open"></i></a>
                        {% if "editar_userstory" in proyecto_perms %}<a href="{% url 'userstory_update' us.id %}"><i
                                class="glyphicon glyphicon-pencil"></i></a>{% endif %}
                        {% if us.estado != 4  and us.estado != 3%}
                        {% if "cancelar_userstory" in proyecto_perms %}<a href="{% url 'userstory_cancelar' us.id %}"><i class="glyphicon glyphicon-remove"></i></a> {% endif %}
                        {% endif %}
                        {% if us.estado != 4  and us.estado != 3%}
                        {% if "aprobar_userstory" in proyecto_perms %}<a href="{% url 'userstory_delete' us.id %}"><i class="glyphicon glyphicon-minus"></i></a> {% endif %}
                        {% endif %}
                    </div>
                </div>
                </div>


        {% endfor %}
        </div>

    <div class="col-lg-12">
    <p><a class="glyphicon glyphicon-circle-arrow-left" href="{% url 'project_detail' sprint.proyecto.id %}"> Volver al Proyecto {{ sprint.proyecto.nombre_corto }}</a></p>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#filtro").keyup(function () {
                var filtro = $(this).val();
                $("#userstoriespanels").children("div").each(function () {
                    if ($(this).text().search(new RegExp(filtro, "i")) < 0) {
                        $(this).fadeOut();
                    } else {
                        $(this).fadeIn();
                    }
                });
            });
        });
    </script>

{% endblock %}
