{% extends 'administracion/base.html' %}
{% load bootstrap3 %}
{% load guardian_tags %}
{% load static %}




{% block contentbase %}


    {% block formulario %}


        <div class="row" xmlns="http://www.w3.org/1999/html">
			<ol class="breadcrumb">
				<li><a href="{% url "index" %}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li><a href="{% url "user_list" %}">Lista de Usuarios</li></a>
                <li>Añadir usuario</li>

			</ol>
		</div><!--/.row-->

        <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

		<ul class="nav menu">
        <li><a href="#" data-toggle="dropdown"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a>
                <ul class="dropdown-menu" role="menu">
					<li><a href='/dashboard/backlog'><svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg> Product Backlog</a></li>
					<li><a href='/dashboard/sprints'><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"/></svg> Sprints </a></li>
				</ul>
			</li>
			<li><a href="{% url 'project_list' %}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Proyectos</a></li>
            <li class="active"><a href="{% url 'user_list' %}"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg> Usuarios</a></li>
            <li><a href="{% url 'rol_list' %}"><svg class="glyph stroked key "><use xlink:href="#stroked-key"/></svg> Roles</a></li>

        </ul>
    </div>

        <div class="col-lg-15">

    <form role="form" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                {% bootstrap_field form.first_name %}
                {% bootstrap_field form.last_name %}
                {% bootstrap_field form.email %}
                {% bootstrap_field form.username %}
                {% if form.password1 %}
                    {% bootstrap_field form.password1 %}
                    {% bootstrap_field form.password2 %}
                {% endif %}
                {% if current_action == 'Editar' and not object.is_active %}
                    {% bootstrap_field form.is_active layout='inline'%}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="javascript:history.back()">
                <button type="button" class="btn btn-danger">Cancelar</button>
            </a>
        </div>


    </form>
{% endblock %}
{% endblock %}