{% extends 'administracion/base.html' %}

{% load guardian_tags %}
{% load static %}


{% block contentbase %}

		<div class="row">
			<ol class="breadcrumb">
				<li><a href="{% url "index" %}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li>Lista de Usuarios</li>

			</ol>
		</div><!--/.row-->



    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

		<ul class="nav menu">
        <li><a href="#" data-toggle="dropdown"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a>
                <ul class="dropdown-menu" role="menu">
					<li><a href='/dashboard/backlog'><svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg> Product Backlog</a></li>
					<li><a href='/dashboard/sprints'><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"/></svg> Sprints </a></li>
				</ul>
			</li>
			<li><a href="{% url 'project_list' %}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Proyectos</a></li>
            <li class="active"><a href="{% url 'user_list' %}"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg> Usuarios</a></li>
            <li><a href="{% url 'rol_list' %}"><svg class="glyph stroked key "><use xlink:href="#stroked-key"/></svg> Roles</a></li>

        </ul>
    </div>


{% if perms.auth.add_user %}

<a href="{% url 'user_add' %}"> <div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-blue panel-widget ">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"/></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">Crear</div>
							<div class="text-muted">Usuario</div>
						</div>
					</div>
				</div>
			</div>
</a>


{% endif %}













    <div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Lista de usuarios</div>
					 <div class="bootstrap-table"><div class="fixed-table-toolbar">
                         <div class="columns btn-group pull-right">
                             
                             <div class="keep-open btn-group" title="Columns">
                                 <ul class="dropdown-menu" role="menu">
                                 <li><label><input type="checkbox" data-field="id" value="1" checked="checked"> User</label></li>
                                 <li><label><input type="checkbox" data-field="name" value="2" checked="checked"> Nombre</label></li>
                                 <li><label><input type="checkbox" data-field="price" value="3" checked="checked"> Apellido</label></li>
                             </ul>
                             </div>
                         </div>
                         
                     </div>
                         <div class="fixed-table-container"><div class="fixed-table-header"><table></table></div>
                             
                                 <table data-toggle="table" data-url="tables/data1.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true"
                                        data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc" class="table table-hover">

                                   {% block thead %}

                                        <tr>
                                            <th>Username</th>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Estado</th>
                                            <th>Detalles del usuario</th>
                                            <th>Editar usuario</th>
                                            <th>Desactivar usuario</th>
                                        </tr>

                                        {% for u in usuario %}
                                            <tr class="odd gradeX">
                                            <td>{{ u.username }}</td>
                                            <td>{{ u.first_name }}</td>
                                            <td>{{ u.last_name }}</td>
                                            <td>{% if u.is_active %}Activo{% else %}Inactivo{% endif %}</td>

                                            <td>
                                                <a href="{% url 'user_detail' u.id %}"><button type="submit" class="btn btn-default btn-md">Ver</button></a>
                                            </td>
                                            <td>
                                            {% if perms.auth.change_user %}<a href="{% url 'user_edit' u.id %}"><button type="submit" class="btn btn-warning btn-md">Editar</button></a>{% endif %}
                                            </td>
                                            <td>
                                             {% if perms.auth.delete_user %}<a href="{% url 'user_delete' u.id %}"><button type="submit" class="btn btn-danger btn-md">Desactivar</button></a>{% endif %}
                                            </td>
                                           </tr>
                                        {% endfor %}
                                   {% endblock %}

                            </table>
                             </div><div class="fixed-table-pagination"><div class="pull-left pagination-detail">
                                 <span class="pagination-info">Showing 1 to 10 of 21 rows</span><span class="page-list"><span class="btn-group dropup">
                                 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="page-size">10</span>
                                     <span class="caret"></span></button><ul class="dropdown-menu" role="menu"><li class="active"><a href="javascript:void(0)">10</a></li>
                                 <li><a href="javascript:void(0)">25</a></li><li><a href="javascript:void(0)">50</a></li><li><a href="javascript:void(0)">100</a></li></ul></span> records per page</span></div>
                                 <div class="pull-right pagination"><ul class="pagination"><li class="page-first disabled"><a href="javascript:void(0)">&lt;&lt;</a></li><li class="page-pre disabled">
                                     <a href="javascript:void(0)">&lt;</a></li><li class="page-number active disabled"><a href="javascript:void(0)">1</a></li>
                                     <li class="page-number"><a href="javascript:void(0)">2</a></li><li class="page-number"><a href="javascript:void(0)">3</a></li>
                                     <li class="page-next"><a href="javascript:void(0)">&gt;</a></li><li class="page-last"><a href="javascript:void(0)">&gt;&gt;</a></li></ul></div></div></div></div>

				</div>
			</div>
		</div><!--/.row-->






{% endblock %}
