{% extends 'administracion/base.html' %}
{% load guardian_tags %}

{% block contentbase %}




		<div class="row">
			<ol class="breadcrumb">
				<li><a href="{% url "index" %}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Lista de Proyectos</li>
			</ol>
		</div><!--/.row-->

        <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

		
		<ul class="nav menu">
        <li><a href="#" data-toggle="dropdown"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a>
                <ul class="dropdown-menu" role="menu">
					<li><a href='/dashboard/backlog'><svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg> Product Backlog</a></li>
					<li><a href='/dashboard/sprints'><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"/></svg> Sprints </a></li>
				</ul>
			</li>
			<li class="active"><a href="{% url 'project_list' %}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Proyectos</a></li>
            <li><a href="{% url 'user_list' %}"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg> Usuarios</a></li>
            <li><a href="{% url 'rol_list' %}"><svg class="glyph stroked key "><use xlink:href="#stroked-key"/></svg> Roles</a></li>

        </ul>
    </div>

{% if perms.administracion.add_proyecto %}
            <div class="col-xs-12 col-md-6 col-lg-3">

    <a href="{% url 'project_create' %}">
				<div class="panel panel-blue panel-widget ">

					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">

							<svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"/></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">Crear</div>
							<div class="text-muted">Proyecto</div>
						</div>
					</div>
				</div>
        </a>

    </div>

{% endif %}



		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Lista de proyectos</div>
					
                         <div class="fixed-table-container"><div class="fixed-table-header"><table></table></div>
                             <div class="fixed-table-body"><div class="fixed-table-loading" style="top: 37px; display: none;">Loading, please wait…</div>
                                 <table data-toggle="table" data-url="tables/data1.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true"
                                        data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc" class="table table-hover">

                                   {% block thead %}
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                        <th>Fecha de Inicio</th>
                                        <th>Fecha de Finalizacion</th>
                                        <th>Detalles del proyecto</th>
                                        <th>Editar Proyecto</th>
                                        <th>Eliminar</th>
                                   {% endblock %}
                                    {% block tbody %}

                                    

                                    {% for p in proyecto %}
                                    {% ifnotequal p.estado 'CA' %}
                                            {% get_obj_perms user for p as "proyecto_perms" %}


                                            <tr data-index={{ p.id }}>

                                                <td style>{{ p.nombre|title }}</td>
                                                <td style>{{ p.get_estado_display }}</td>
                                                <td style>{{ p.fecha_inicio|date:"SHORT_DATE_FORMAT" }}</td>
                                                <td style>{{ p.fecha_fin|date:"SHORT_DATE_FORMAT" }}</td>

                                                <td style>
                                                
                                                    {% if "ver_proyecto" in proyecto_perms %}
                                                         <a href="{{ p.get_absolute_url }}"><button type="submit" class="btn btn-default btn-md">Ver</button></a>
                                                     {% endif %}
                                                
                                                </td>
                                                <td style>
                                                    {% if "change_proyecto" in proyecto_perms %}
                                                         <a href="{% url 'project_update' p.id %}"><button type="submit" class="btn btn-warning btn-md">Editar</button></a>
                                                    {% endif %}

                                                </td>
                                                                                                <td style>
                                                    {% if "change_proyecto" in proyecto_perms %}
                                                         <a href="{% url 'project_delete' p.id %}"><button type="submit" class="btn btn-danger btn-md">Eliminar</button></a>
                                                    {% endif %}

                                                </td>
                                            </tr>
{% endifnotequal %}

                                        {% endfor %}


                                    {% endblock %}

                            </table>
                        </div>				
                    </div>
			</div>
		</div>


{% endblock %}