{% extends 'administracion/base.html' %}
{% load bootstrap3 %}
{% load static %}


{% block contentbase %}


    <div class="row">
   <ol class="breadcrumb">
      <li><a href="{% url "index" %}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
      <li><a href="{%url "project_list" %}">Lista de Proyectos</a></li>
       <li class="active">Creación de Proyectos</li>
   </ol>
</div><!--/.row-->





    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

		
		<ul class="nav menu">
        <li><a href="#" data-toggle="dropdown"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a>
                <ul class="dropdown-menu" role="menu">
					<li><a href='/dashboard/backlog'><svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg> Product Backlog</a></li>
					<li><a href='/dashboard/sprints'><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"/></svg> Sprints </a></li>
				</ul>
			</li>
			<li class="active"><a href="{% url 'project_list' %}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Proyectos</a></li>
            <li><a href="{% url 'user_list' %}"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg> Usuarios</a></li>
            <li><a href="{% url 'rol_list' %}"><svg class="glyph stroked key "><use xlink:href="#stroked-key"/></svg> Roles</a></li>

        </ul>
    </div>
    {% block extrahead %}
    <script src="{% static 'lumino/js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.teammember').formset({
                prefix: '{{ formset.prefix }}',
                addText: 'Agregar miembro',
                deleteText: 'Eliminar'
            });
        })
    </script>
{% endblock %}
    {% block formulario %}

        <div class="col-lg-15">
				<h1 class="page-header">Creacion de Proyecto</h1>
        </div>

        <div class="col-lg-15">
				<div class="panel panel-default">
					<div class="panel-heading">Ingrese datos</div>
					<div class="panel-body">
						<div class="col-md-10">


                            <form role="form" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    {{ form.non_field_errors }}
                                    <div class="col-lg-6">
                                        {% bootstrap_field form.nombre%}
                                        <p class="help-block">Fecha de inicio debe ser menor o igual al de finalizacion.</p>
                                        {% bootstrap_field form.fecha_inicio %}
                                        {% bootstrap_field form.fecha_fin %}
                                        {% bootstrap_field form.estado %}
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h3 id="equipo">Miembros del Equipo</h3>
                                        {{ formset.management_form }}
                                        <div class="row top-buffer team-members">
                                            {% bootstrap_formset_errors formset %}
                                            {% for subform in formset %}
                                                {% bootstrap_form_errors subform %}
                                                {{ subform.id }}
                                                <div class="teammember" id="teammember-{{ forloop.counter0 }}">
                                                    {% if subform.instance.pk %}
                                                        {% bootstrap_field subform.DELETE %}{% endif %}
                                                        {% bootstrap_field subform.usuario %}
                                                        {% bootstrap_field subform.roles %}
{#                                                    {% if user.is_superuser == True %}#}
{#                                                     {% for roli in subform.roles%}#}
{#                                                         {% if forloop.first %}#}
{#                                                        {{ roli  }}#}
{#                                                         {% endif %}#}
{#                                                    {% endfor %}#}
{#                                                    {% elif user.is_superuser == False and not forloop.first %}#}
{#                                                        {% for roli in subform.roles%}#}
{#                                                        {{ roli  }}#}
{#                                                        {% endfor %}#}
{##}
{#                                                    {% endif %}#}




                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="margin-top: 20px;">

                                {% buttons submit='Guardar'  %}
                                    <a href="javascript:history.back()">
                                        <button type="button" class="btn btn-danger">Cancelar</button>
                                    </a>
                                {% endbuttons %}
                                </div>
                            </form>



                    </div>

					</div>
				</div>
			</div>

        {% endblock %}



{% endblock %}

