{% extends 'administracion/base.html' %}
{% block contentbase %}


    <div class="row">
   <ol class="breadcrumb">
      <li><a href="{% url "index" %}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
      <li><a href="{%url "project_list" %}">Lista de Proyectos</a></li>
       <li><a href="{% url "project_detail" view.project.pk %}">Detalles de Proyecto</li></a>
       <li class="active"> Lista de Flujos</li>
   </ol>
</div><!--/.row-->
{% block title %}<strong><h1>Flujos</h1></strong></h1>{% endblock %}







  <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

<ul class="nav menu">
<li><a href="#" data-toggle="dropdown"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a>
                <ul class="dropdown-menu" role="menu">
					<li><a href='/dashboard/backlog'><svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg> Product Backlog</a></li>
					<li><a href='/dashboard/sprints'><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"/></svg> Sprints </a></li>
				</ul>
			</li>
   <li class="active"><a href="{% url 'project_list' %}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Proyectos</a></li>
          <li><a href="{% url 'user_list' %}"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg> Usuarios</a></li>
          <li><a href="{% url 'rol_list' %}"><svg class="glyph stroked key "><use xlink:href="#stroked-key"/></svg> Roles</a></li>
      </ul>
  </div>




    <h4><strong>Proyecto: </strong><td>{{ view.project }}</td></h4>
    {% if "crear_flujo" in proyecto_perms %}<p><a href="{% url 'flujo_add' view.kwargs.project_pk %}" class="glyphicon glyphicon-plus-sign">Agregar</a></p>{% endif %}

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Lista de flujos</div>
					 <div class="bootstrap-table"><div class="fixed-table-toolbar">
                         <div class="columns btn-group pull-right">
                             <button class="btn btn-default" type="button" name="refresh" title="Refresh">
                                 <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                             </button>
                             <button class="btn btn-default" type="button" name="toggle" title="Toggle">
                                 <i class="glyphicon glyphicon glyphicon-list-alt icon-list-alt">

                                 </i>
                             </button>
                             <div class="keep-open btn-group" title="Columns">
                                 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                     <i class="glyphicon glyphicon-th icon-th">

                                     </i>
                                     <span class="caret"></span>
                                 </button><ul class="dropdown-menu" role="menu">
                                 <li><label><input type="checkbox" data-field="id" value="1" checked="checked"> Proyecto ID</label></li>
                                 <li><label><input type="checkbox" data-field="name" value="2" checked="checked"> Nombre del Proyecto</label></li>
                                 <li><label><input type="checkbox" data-field="price" value="3" checked="checked"> Item Price</label></li>
                             </ul>
                             </div>
                         </div>
                         <div class="pull-right search"><input class="form-control" type="text" placeholder="Search"></div>
                     </div>
                         <div class="fixed-table-container"><div class="fixed-table-header"><table></table></div>
                             <div class="fixed-table-body"><div class="fixed-table-loading" style="top: 37px; display: none;">Loading, please wait…</div>
                                 <table data-toggle="table" data-url="tables/data1.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true"
                                        data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc" class="table table-hover">

                                   {% block thead %}

                                        <tr>
                                            <th>Nombre</th>
                                            <th>Actividades</th>
                                            <th>Detalles del flujo</th>
                                            {% if "editar_flujo" in proyecto_perms %}<th>Editar</th>{% endif %}
                                            {% if "eliminar_flujo" in proyecto_perms %}<th>Eliminar</th>{% endif %}

                                        </tr>

                                   {% endblock %}
                                    {% block tbody %}



                                        {% for f in flujos %}
                                            <tr class="odd gradeX">
                                                <td>{{ f.nombre }}</td>
                                                <td>{{ f.actividad_set.count }}</td>
                                                <td ><a href="{% url 'flujo_detail' f.id %}"><button type="submit" class="btn btn-default btn-md">Ver</button></a> </td>
                                                {% if "editar_flujo" in proyecto_perms %}<td><a href="{% url 'flujo_update' f.id %}"><button type="submit" class="btn btn-warning btn-md">Editar</button></a></td>{% endif %}
                                                {% if "eliminar_flujo" in proyecto_perms %}<td><a href="{% url 'flujo_delete' f.id %}"><button type="submit" class="btn btn-danger btn-md">Eliminar</button></a></td>{% endif %}
                                            </tr>
                                        {% endfor %}


                                    {% endblock %}

                            </table>
                             </div><div class="fixed-table-pagination"><div class="pull-left pagination-detail">
                                 <span class="pagination-info">Showing 1 to 10 of 21 rows</span><span class="page-list"><span class="btn-group dropup">
                                 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="page-size">10</span>
                                     <span class="caret"></span></button><ul class="dropdown-menu" role="menu"><li class="active"><a href="javascript:void(0)">10</a></li>
                                 <li><a href="javascript:void(0)">25</a></li><li><a href="javascript:void(0)">50</a></li><li><a href="javascript:void(0)">100</a></li></ul></span> records per page</span></div>
                                 <div class="pull-right pagination"><ul class="pagination"><li class="page-first disabled"><a href="javascript:void(0)">&lt;&lt;</a></li><li class="page-pre disabled">
                                     <a href="javascript:void(0)">&lt;</a></li><li class="page-number active disabled"><a href="javascript:void(0)">1</a></li>
                                     <li class="page-number"><a href="javascript:void(0)">2</a></li><li class="page-number"><a href="javascript:void(0)">3</a></li>
                                     <li class="page-next"><a href="javascript:void(0)">&gt;</a></li><li class="page-last"><a href="javascript:void(0)">&gt;&gt;</a></li></ul></div></div></div></div>

				</div>
			</div>
		</div><!--/.row-->
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">


				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">

				</div>
			</div>
		</div><!--/.row-->





     <div class="col-lg-20">
        <p><a class="glyphicon glyphicon-circle-arrow-left" href={% url 'project_detail' view.project.id  %}> Volver al Proyecto {{ view.project }}</a></p>
    </div>

{% endblock %}
