{% extends 'autenticacion/base.html' %}

{% block title %}Login{% endblock %}

{% block background %}{% load static %}{% static 'login/images/bg-01.jpg' %}{% endblock %}

{% block content %}

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url({% static 'login/images/bg-01.jpg' %});">
					<span class="login100-form-title-1">
						Usuario incorrecto
					</span>
                </div>
                
                <div style="margin: 50px; text-align: center;">
                    <p>Los datos ingresados no son válidos. Por favor, intenta nuevamente.</p>
                </div>

                <div class="container-login100-form-btn" style="margin: 50px 0;">
                    <a class="button login100-form-btn"style="margin: auto;" href='/login/'>Volver</a>
                </div>
				
			</div>
		</div>
	</div>
{% endblock %}