{% extends 'autenticacion/base.html' %}

{% block title %}Login{% endblock %}

{% block background %}{% load static %}{% static 'login/images/bg-01.jpg' %}{% endblock %}

{% block content %}

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url({% static 'login/images/bg-01.jpg' %});">
					<span class="login100-form-title-1">
						Iniciar sesión
					</span>
				</div>
        <form action="/auth_view/" method="post" class="login100-form validate-form"> {% csrf_token %}
          <div class="wrap-input100 validate-input m-b-26" data-validate="Usuario es requerido">
            <label for="username" class="label-input100">Nombre</label>
            <input type="text" name="username" id="username" class="input100" placeholder="Introduzca su nombre de usuario" required>
          </div>

          <div class="wrap-input100 validate-input m-b-18" data-validate = "Contraseña es requerida">
            <label for="password" class="label-input100">Contraseña</label>
            <input type="password" name="password" id="password" class="input100" placeholder="Introduzca su contraseña" required>
          </div>

          <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">Iniciar sesión</button>
          </div>
        </form>
				
			</div>
		</div>
	</div>
{% endblock %}